<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="UITestV2RuleSet" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA0002" Action="None" />
    <Rule Id="SA1028" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1305" Action="Warning" />
    <Rule Id="SA1308" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1634" Action="None" />
    <Rule Id="SA1635" Action="None" />
    <Rule Id="SA1636" Action="None" />
    <Rule Id="SA1637" Action="None" />
    <Rule Id="SA1638" Action="None" />
    <Rule Id="SA1640" Action="None" />
    <Rule Id="SA1641" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1649" Action="None" />
  </Rules>
</RuleSet>