root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{axml,cs,csx,css,html,proto,storyboard,xaml,storyboard,proto}]
indent_size = 4

[*.cs]
charset = utf-8-bom
