<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>bluetooth-le</string>
		<string>telephony</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>13.5</string>
	<key>CFBundleName</key>
	<string>Covid19Radar</string>
	<key>CFBundleDisplayName</key>
	<string>接触確認アプリ</string>
	<key>CFBundleIdentifier</key>
	<string>jp.go.mhlw.covid19radar</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-60@2x</string>
		<string>Icon-60@3x</string>
		<string>Icon-76</string>
		<string>Icon-76@2x</string>
		<string>Default</string>
		<string>Default@2x</string>
		<string>Default-568h@2x</string>
		<string>Default-Portrait</string>
		<string>Default-Portrait@2x</string>
		<string>Icon-Small-40</string>
		<string>Icon-Small-40@2x</string>
		<string>Icon-Small-40@3x</string>
		<string>Icon-Small</string>
		<string>Icon-Small@2x</string>
		<string>Icon-Small@3x</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>jp.go.mhlw.covid19radar.exposure-notification</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>fa-brands-400.otf</string>
		<string>fa-regular-400.otf</string>
		<string>fa-solid-900.otf</string>
		<string>NotoSansCJKjp-Medium.otf</string>
		<string>NotoSansCJKjp-Regular.otf</string>
		<string>Roboto-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcons.appiconset</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>af</string>
		<string>ar</string>
		<string>bg</string>
		<string>bn</string>
		<string>ca</string>
		<string>cs</string>
		<string>cy</string>
		<string>da</string>
		<string>de</string>
		<string>el</string>
		<string>en</string>
		<string>es</string>
		<string>et</string>
		<string>fa</string>
		<string>fi</string>
		<string>fil</string>
		<string>fr</string>
		<string>ga</string>
		<string>gu</string>
		<string>he</string>
		<string>hi</string>
		<string>hr</string>
		<string>hu</string>
		<string>id</string>
		<string>is</string>
		<string>it</string>
		<string>ja</string>
		<string>kn</string>
		<string>ko</string>
		<string>lt</string>
		<string>lv</string>
		<string>mg</string>
		<string>mi</string>
		<string>ml</string>
		<string>mr</string>
		<string>ms</string>
		<string>mt</string>
		<string>nb</string>
		<string>nl</string>
		<string>pl</string>
		<string>pt</string>
		<string>ro</string>
		<string>ru</string>
		<string>sk</string>
		<string>sl</string>
		<string>sr-Cyrl</string>
		<string>sr-Latn</string>
		<string>sv</string>
		<string>sw</string>
		<string>ta</string>
		<string>te</string>
		<string>th</string>
		<string>tr</string>
		<string>uk</string>
		<string>ur</string>
		<string>vi</string>
		<string>zh-Hans</string>
		<string>zh-Hant</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
</dict>
</plist>
