{
    "IsEncrypted": false,
    "Values": {
        "AzureWebJobsStorage": "UseDevelopmentStorage=true",
        "FUNCTIONS_WORKER_RUNTIME": "dotnet",
        "COSMOS_ENDPOINT_URI": "https://localhost:8081",
        "COSMOS_PRIMARY_KEY": "C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==",
        "COSMOS_DATABASE_ID": "EXAMPLE",
        "COSMOS_AUTO_GENERATE": true,
        "COSMOS_CONNECTION": "AccountEndpoint=https://localhost:8081/;AccountKey=C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==",
        "AppBundleId": "AppBundleId",
        "AndroidPackage": "AndroidPackage",
        "SupportRegions": "Country1,Country2", //ISO 3166-1 alpha-2
        "TekExportBlobStorage": "UseDevelopmentStorage=true",
        "TekExportBlobStorageContainerPrefix": "c19r",
        "ExportKeyUrl": "http://127.0.0.1:10000/",
        "TekExportKeyVaultKeyUrl": "https://xxxxxx.vault.azure.net/keys/xxxxSignaturexxx/XXXXXXXXXXXXXXXXXXXXXXXXX",
        "CdnResourceGroupName": "Covid19RadarCdnResouseGroupName",
        "CdnProfileName": "Covid19RadarCdnProfile",
        "CdnEndpointName": "Covid19RadarCdnEndpointName"
    }
}