.header-inner{
    height: 56px;
    text-align: left;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    color: #404040;
    opacity: 1;
}

.header-logo{
    top: 44px;
    left: 22px;
    width: 16px;
    height: 16px;
    opacity: 1;
}

.main-inner{
    top: 96px;
    left: 20px;
    width: 320px;
    height: 385px;
    background: #FFF3DD 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: auto;
    margin-right: auto; 
}

.main-text{
    text-align: left;
    padding-top: 13px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    color: #000000DE;
    opacity: 1;
}

.button_wrapper{
    text-align:center;

}
.main-button{
    width: 284px;
    height: 48px;
    background: #E8F7FF 0% 0% no-repeat padding-box;
    border: 4px solid #2196F3;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    text-align: center;
    border-radius: 24px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto; 
}

/* 
.main-chatbot1-on{
    top: 489px;
    left: 38px;
    width: 284px;
    height: 48px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto; 
}

.main-chatbot1-off{
    top: 546px;
    left: 38px;
    width: 284px;
    height: 48px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto; 
} */

.main-chatbot2{
    top: 96px;
    left: 20px;
    width: 320px;
    height: 93px;
    background: #FFF3DD 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1; 
    margin-left: auto;
    margin-right: auto; 
}

.main-chatbot2-text{
    text-align: left;
    padding-top: 13px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    color: #000000DE;
    opacity: 1;
}

.main-back{
    top: 530px;
    left: 38px;
    width: 284px;
    height: 48px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto; 
}

.main-covidcenter{
    font-family: 'Noto Sans JP', sans-serif;
    width: 316px;
    margin-left: auto;
    margin-right: auto; 
}

.main-chatbot3{
    top: 96px;
    left: 20px;
    width: 320px;
    height: 243px;
    background: #FFF3DD 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto; 
}

.main-chatbot3-text{
    text-align: left;
    padding-top: 13px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    color: #000000DE;
    opacity: 1;
    margin-left: auto;
    margin-right: auto; 
}

.main-chatbot4{
    top: 96px;
    left: 20px;
    width: 320px;
    height: 140px;
    background: #FFF3DD 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto; 
}

.main-chatbot4-text{
    text-align: left;
    padding-top: 13px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    color: #000000DE;
    opacity: 1;
    margin-left: auto;
    margin-right: auto; 
}

.main-chatbot5{
    top: 96px;
    left: 20px;
    width: 320px;
    height: 179px;
    background: #FFF3DD 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
}

.main-chatbot5-text{
    padding-top: 13px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    letter-spacing: 0px;
    color: #000000DE;
    opacity: 1;
}



