# This is a basic workflow to help you get started with Actions

name: CI-Server

on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main, develop, 'feature/**' ]
  pull_request:
    branches: [ main, develop, 'feature/**' ]

jobs:
  build_serverapi:
    name: Build-ServerApi
    runs-on: windows-latest
    strategy:
      matrix:
        Configuration: [Debug, Release]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1
    - name: Build
      run: msbuild ${{ github.workspace }}/src/Covid19Radar.Api/Covid19Radar.Api.csproj /restore /t:Build /p:Configuration=${{ matrix.Configuration }}
  build_serverapi_common:
    name: Build-ServerApi-Common
    runs-on: windows-latest
    strategy:
      matrix:
        Configuration: [Debug, Release]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1
    - name: Build
      run: msbuild ${{ github.workspace }}/src/Covid19Radar.Api.Common/Covid19Radar.Api.Common.csproj /restore /t:Build /p:Configuration=${{ matrix.Configuration }}
  build_serverapi_external:
    name: Build-ServerApi-External
    runs-on: windows-latest
    strategy:
      matrix:
        Configuration: [Debug, Release]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1
    - name: Build
      run: msbuild ${{ github.workspace }}/src/Covid19Radar.Api.External/Covid19Radar.Api.External.csproj /restore /t:Build /p:Configuration=${{ matrix.Configuration }}
  build_serverapi_background:
    name: Build-ServerApi-Background
    runs-on: windows-latest
    strategy:
      matrix:
        Configuration: [Debug, Release]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1
    - name: Build
      run: msbuild ${{ github.workspace }}/src/Covid19Radar.Background/Covid19Radar.Background.csproj /restore /t:Build /p:Configuration=${{ matrix.Configuration }}
  test:
    name: Test-ServerApi
    runs-on: ubuntu-latest
    needs: [build_serverapi, build_serverapi_common, build_serverapi_external, build_serverapi_background]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Execute Unit Tests
      run: dotnet test ${{ github.workspace }}/src/Covid19Radar.Api.Tests/
      env:
        DOTNET_CLI_TELEMETRY_OPTOUT: true
